<body class="d-flex flex-column h-100">
    <app-navbar></app-navbar>

    <main class="flex-shrink-0">
      <section class="py-5 bg-dark text-white">
        <div class="container text-center">
          <h1>Citas Médicas</h1>
          <p class="lead">El mejor servicio médico para ti y tu familia</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a href="/login" class="btn btn-primary btn-lg px-4 gap-3">Acceder</a>
          </div>
        </div>
      </section>
    </main>
  

<app-footer />

</body>

<router-outlet></router-outlet>
